extends layout

block content
    h2 Inside the Treehouse
    img(src='/i/red-panda.gif')
    p
        | You're here, you've made it!
        | Isn't this everything you ever hoped it would be?
    form(action='/logout', method='post')
        input.btn(type='submit', value="This was fun, but I want to go play outside now.")
