!!! 5
html
    head
        title Treehouse
        link(rel='stylesheet', href='/css/lib/bootstrap.css')
        style
            body {
                padding-top: 60px;
            }
        block styles
    body
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div.container
                    h1.brand
                        a(href='/') Treehouse

        div.container
            block content
