extends layout

block content
    h2 Enter the club
    if(validationFailed == 'name')
        p.alert.alert-error
            | #{form.name}? #{form.name}? I don't know anyone by that name!
            | Maybe you want to try again.
    else if(validationFailed == 'password')
        p.alert.alert-error
            | You did not recite the incantation correctly. No admission for you.
            | But you could try again.
    else
        p
            | So you say you're a member, huh? Well, prove it.
    form.well.span3(method='post')
        p
            label
                | What do they call you, stranger?
            input(type='text', name='name', value=form.name)
        p
            label
                | Recite the secret incantation, now.
            input(type='password', name='password')
        p
            input.btn(type='submit', value='Attempt entry')
