extends layout

block content
    h2 Password reset
    if validationFailed
        p.alert.alert-error!= validationError
    else
        p
            | Fill out the form below to reset your password
    form.span3.well(method='post')
        p
            label
                | Your current password
            input(type='password', name='current')
        p
            label
                | Your new password
            input(type='password', name='new')
        p
            label
                | Your new password, one more time
            input(type='password', name='verify')
        p
            input.btn(type='submit', value='Reset my password')
